*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    overflow-y: scroll;
    overflow-x: scroll;
}


/*Login Pagina*/

#loginPage {
    background-image: linear-gradient(90deg, rgba(26,21,98,1) 0%, rgba(10,124,166,1) 100%);
    height: 100%;
    margin: 0;
}

#loginPage h1 {
    text-align: center;
    color: white;
    margin-top: 4em;
    font-family: monospace;
    font-size: 2.5em;
}

/*Login Formulier*/

form {
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
}


form input {
    margin-bottom: 1em;
    padding: 1.5em;
    background-color: rgba(250,250,250,.2);
    border: 0;
    color: white;
}

form input:focus {
    outline: none;
}

form input::placeholder {
    color: white;
    font-family: sans-serif;
    font-size: 1.1em;
}


form input:last-of-type {
    background-color: transparent;
    border: 3px solid rgba(250,250,250,.4);
    color: white;
}

/*Registratie knop*/

#loginPage a {
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    background: rgba(250,250,250,.2);
    padding: 1.5em;
    position: absolute;
    bottom: 0;
    font-weight: lighter;
}

/*Foutmelding*/
#loginPage span {
    color: orangered;
    margin-top: -.5em;
    margin-bottom: 1em;
    font-family: sans-serif;
    font-size: .9em;
    
}


/*Registratie Pagina*/

#registerPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0;
}

#registerPage blockquote {
    color: dimgray;
    font-size: 1.4em;
    text-align: center;
    margin: 0 1em;
    font-family: monospace;
}

#registerPage h1 {
    margin-top: 3em;
    font-family: monospace;
    font-size: 2.5em;
    text-align: center;
}

#registerPage form input {
/*    background-color: rgba(0,0,0,.1);*/
    color: black;
    box-shadow: 1px 1px 5px black;
}

#registerPage form input::placeholder {
    color: dimgrey;
    font-size: 1.1em;
}

#registerPage form input:last-of-type {
    background: linear-gradient(90deg, rgba(26,21,98,1) 0%, rgba(10,140,166,1) 100%);
    color: white;
    border: 0;
    font-weight: bold;
    margin-top: 1em;
}

#registerPage a {
    width: 100%;
    text-align: center;
    color: dimgray;
    text-decoration: none;
    font-family: sans-serif;
    padding: 1.5em;
    position: absolute;
    bottom: 0;
    font-weight: lighter;
}

#registerPage form span {
    color: orangered;
    margin-top: -.5em;
    margin-bottom: 1em;
    font-family: sans-serif;
    font-size: .9em;
}

#landingPage img {
    width: 90%;
    object-fit: cover;
}

@media only screen and (max-height: 569px) {
    
    #registerPage h1 {
    margin-top: 1em;
    font-family: monospace;
    font-size: 2.5em;
    text-align: center;
}
}




