*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html,
body {
    overflow-y: hidden;
    overflow-x: hidden;
    color: #fff;
    background-color: #3a3b40;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.active {
    display: block !important;
    visibility: visible !important;
}

/*Login Pagina*/

#loginPage {
    background-image: linear-gradient(90deg, rgba(26, 21, 98, 1) 0%, rgba(10, 124, 166, 1) 100%);
    height: 100%;
    margin: 0;
    background-color: transparent;
}

#loginHTML, #loginPage {
    background-color: transparent;
}

#loginPage h1 {
    text-align: center;
    color: white;
    margin-top: 4em;
    font-family: fantasy;
}

#loginPage main {
    margin: 0;
    padding: 0;
}

/*Login Formulier*/

form {
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
}


form input {
    margin-bottom: 1em;
    padding: 1.5em;
    /*    background-color: rgba(250,250,250,.2);*/
    border: 0;
    color: #000;
}

form input:focus {
    outline: none;
}

form input::placeholder {
    color: white;
    font-family: sans-serif;
}


form input:last-of-type {}

/*Registratie knop*/

#loginPage a {
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    background: rgba(250, 250, 250, .2);
    padding: 1.5em;
    position: absolute;
    bottom: 0;
    font-weight: lighter;
}


html,
body#landingPage {
    overflow-y: scroll;
    
}

header {
    background-color: #1f1f2c;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: .1em 0 .1em;
}


header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}


header nav ul li:nth-last-child(2) a {
    /*background: linear-gradient(90deg, rgba(26,21,98,1) 0%, rgba(10,124,166,1) 100%);*/
    padding: 1em;
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
}

header nav ul li a {}

header nav ul li a h4 {
    font-size: 0;
}

header nav ul li a svg {
    flex-grow: 1;
    width: 1.5em;
    height: 1.5em;
}

header nav ul li a svg path.cls-1 {

    fill: url(#Naamloos_verloop_5);

}

header form {
    margin: 1em 0;
    display: none;
}

header form label {
    font-size: 1.2em;
    font-weight: 700;
}

header form input {
    padding: 1.5em 0;
    width: 100%;
}

header form input:last-child {
    box-shadow: 3px 4px rgba(0, 0, 0, 0.5);
}

main {
    padding: 0 15px;
    margin-bottom: 6em;
    margin-top: 2em;
}

main h1 {
    margin-bottom: .5em;
    text-align: center;
    font-family: sans-serif, Helvetica;
}

main .uploads {
    display: flex;
    flex-direction: column;
}

main figure {
    margin: 1em 0;
    box-shadow: 0 8px 6px -6px black;
    display: flex;
    flex-direction: column;
}

main figure figcaption {
    /*    align-self: flex-end;*/
    padding: .5em 0;
    order: 1;
}

main figure img {
    border-radius: 10%;
    order: 2;
    width: 100%;
    height: 100%;
}

main figure figcaption span {
    font-weight: 700;
    color: #fff;
}


/* Account Page*/

#AccountPage main figure {
    box-shadow: unset;
    margin: unset;
}

#AccountPage main .uploads {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: .2em;
    grid-template-rows: 1fr 1fr 1fr;
}

#AccountPage main .uploads figure img {
    border-radius: unset;
}

#empty_state {
    margin-top: 8em;
}

#empty_state img {
    width: 100%;
}

#empty_state h2 {
    text-align: center;
    margin-top: .5em;
    font-family: monospace;
    font-size: 2em;
}

#empty_state p {
    text-align: center;
    margin-top: .7em;
    font-family: sans-serif;
    font-style: italic;
}
